<div class="section">
  <form (ngSubmit)="registrar(personaModel)">
    <div class="input-field col s12 l6">
      <input type="text" id="nombre" class="validate" name="nombre" [(ngModel)]="personaModel.nombre">
      <label for="nombre">Nombre(s)</label>
    </div>
    <div class="input-field col s12 l6">
      <input type="text" id="prim_apell" class="validate" name="prim_apell" [(ngModel)]="personaModel.prim_apell">
      <label for="prim_apell">Primer Apellido</label>
    </div>
    <div class="input-field col s12">
      <input type="text" id="segu_apell" class="validate" name="segu_apell" [(ngModel)]="personaModel.segu_apell">
      <label for="segu_apell">Segundo Apellido</label>
    </div>
    <div class="input-field col s12">
      <input type="text" id="curp" class="validate" name="curp" [(ngModel)]="personaModel.curp">
      <label for="curp">CURP</label>
    </div>
    <div class="input-field col s12">
      <input type="text" id="calle" class="validate" name="calle" [(ngModel)]="personaModel.domicilio.calle">
      <label for="calle">Calle</label>
    </div>    
    <a (click)="registrar(personaModel)" class="waves-effect waves-light btn">Registrar</a>
    
  </form>
  
</div>