<h2>Bears List</h2>
<div class="row">
  <form action="">
    <div class="input-field col s12 l6">
      <input type="text" id="name" class="validate" [(ngModel)]="bear1.name" name="name">
      <label for="name">Bear Name</label>
    </div>
    <a class="waves-effect waves-light btn" (click)="createBear(bear1.name)" >Button</a>    
  </form>
</div>
<ul>
  <li *ngFor="let bear of bears; let i = index">{{i + " " + bear.name}}
  <a (click)="remBear(bear._id, i)"><i class="material-icons small">close</i></a>
  </li>
</ul>