<td-layout>
  <td-navigation-drawer sidenavTitle="Menú" name="name" navigationRoute="/">
    <md-nav-list>
      <ng-template ngFor let-item [ngForOf]="items">
        <a md-list-item [routerLink]="[ item.route ]">{{item.value}}</a>
      </ng-template>
    </md-nav-list>
    <md-nav-list td-navigation-drawer-menu>
          <a md-list-item>Salir</a>
    </md-nav-list>
  </td-navigation-drawer>
  <div td-sidenav-content>
    <md-divider></md-divider>
  </div>
  <router-outlet></router-outlet>
</td-layout>