<h5>Domicilio:</h5>
<div class="row">
  <div class="input-field col s12 m8 l6">
    <input type="text" id="calle" class="validate" [(uppercase)]="domicilio.calle">
    <label for="calle">Calle</label>
  </div>
  <div class="input-field col s6 m2 l3">
    <input type="text" id="int" class="validate" [(uppercase)]="domicilio.int">
    <label for="int">Interior</label>
  </div>
  <div class="input-field col s6 m2 l3">
    <input type="text" id="ext" class="validate" [(uppercase)]="domicilio.ext">
    <label for="ext">Exterior</label>
  </div>
  <div class="input-field col s12 m6 l6">
    <input type="text" id="int" class="validate" [(uppercase)]="domicilio.entidad">
    <label for="int">Entidad</label>
  </div>
  <div class="input-field col s12 m6 l6">
    <input type="text" id="int" class="validate" [(uppercase)]="domicilio.municipio">
    <label for="int">Municipio</label>
  </div>
  <div class="input-field col s12 m6 l6">
    <input type="text" id="int" class="validate" [(uppercase)]="domicilio.localidad">
    <label for="int">Localidad</label>
  </div>
  <div class="input-field col s12 m6 l6">
    <input type="text" id="int" class="validate" [(uppercase)]="domicilio.colonia">
    <label for="int">Colonia</label>
  </div>
  <div class="input-field col s12 m6 l6">
    <input type="text" id="int" class="validate" [(ngModel)]="domicilio.longitud">
    <label for="int">Longitud</label>
  </div>
  <div class="input-field col s12 m6 l6">
    <input type="text" id="int" class="validate" [(ngModel)]="domicilio.latitud">
    <label for="int">Latitud</label>
  </div>
</div>