<div class="pad" flex>
  <md-input-container floatPlaceholder="auto">
      <input mdInput name="plan" [(ngModel)]="plan" type="text" required placeholder="Nombre del Plan">
      <span mdPrefix></span>
  </md-input-container>
  <md-input-container floatPlaceholder="auto">
      <input mdInput name="materias" [(ngModel)]="materias" type="text" required placeholder="Materias">
      <span mdPrefix></span>
  </md-input-container>
  <md-input-container floatPlaceholder="auto">
      <input mdInput name="fecha" [(ngModel)]="fecha" type="text" required placeholder="Fecha">
      <span mdPrefix></span>
  </md-input-container>

</div>
