
<!-- Dropdown Structure Personas-->
<ul id='personasDrop' class='dropdown-content'>
  <li routerLinkActive="active"><a routerLink="/personas/registrar">Registrar</a></li>
</ul>


<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/principal">Principal</a></li>
      <li routerLinkActive="active"><a routerLink="/bears">Bears</a></li>
      <li routerLinkActive="active"><a class="dropdown-button" data-activates='personasDrop'>Personas<i class="material-icons right">arrow_drop_down</i></a></li>      
      <li routerLinkActive="active"><a routerLink="/contacto">Contacto</a></li>
      <li routerLinkActive="active"><a routerLink="/acceso">Acceso</a></li>
      <li *ngIf="isAuth"><a (click)="logout()">Salir</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
      <li routerLinkActive="active"><a routerLink="/principal">Principal</a></li>
      <li routerLinkActive="active"><a routerLink="/contacto"> Contacto</a></li>
      <li routerLinkActive="active"><a routerLink="/acceso">Acceso</a></li>
    </ul>
    <a href="#" materialize="sideNav" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support
          and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>




<div class="hiddendiv common"></div>
<div class="drag-target" data-sidenav="nav-mobile" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>