<td-layout-nav toolbarTitle="SISACE - ENRJSM" logo="svgIconName">
  <td-layout-card-over cardTitle="Principal" cardSubtitle='Escuela Normal Rural "Justo Sierra Méndez"' cardWidth="75">
    <section>
      <div layout="row" class="pad">
        <div flex=70>
          <h4>Contenido público del sitio.</h4>
        </div>
        <div flex=30>
          <md-card class="bgc-blue-grey-100">
            <md-card-header>
              <md-card-title>Acceso</md-card-title>
              <md-card-subtitle>Introduce tus datos de acceso</md-card-subtitle>
            </md-card-header>
            <md-card-content>
              <md-input-container floatPlaceholder="auto">
                <input mdInput name="usuario" [(ngModel)]="usuario" type="text" required placeholder="Usuario:">
                <span mdPrefix></span>
              </md-input-container>
              <md-input-container floatPlaceholder="auto">
                <input mdInput name="password" [(ngModel)]="password" type="password" required placeholder="Contraseña">
                <span mdSuffix></span>
              </md-input-container>
            </md-card-content>
            <md-card-actions align="end">
              <button md-button (click)="onAction1" color="primary">Iniciar Sesión</button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </section>
  </td-layout-card-over>
  <td-layout-footer>
    Sistema de Tutorías
  </td-layout-footer>
</td-layout-nav>